<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label float-left">Nuevo objetivo de rendimiento</h3>
                        <%= link_to 'Regresar' , perform_targets_path, class: "btn btn-default float-right" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <%= render 'form', perform_target: @perform_target %>
        </div>
    </div>
</div>
