<div class="">
  <div class="m-portlet" id="m_portlet">
      <div class="m-portlet__body">
        <%= render("show") %>
      </div>
    </div>
</div>

<script type="text/javascript">
  window.print();
</script>