<h1>Editing Agency Mileage Indicator</h1>

<%= render 'form', agency_mileage_indicator: @agency_mileage_indicator %>

<%= link_to 'Show', @agency_mileage_indicator %> |
<%= link_to 'Back', agency_mileage_indicators_path %>
