<br><br>
<div class="container">
  <div class="card card-custom gutter-b">
      <div class="row">
         <div class="col-lg-12">
            <div class="card-header">
              <div class="card-title">
                <h3 class="card-label float-left ">Proveedor</h3>
                  <%= link_to 'Regresar', catalog_vendors_path, class:"btn btn-default float-right" %>
                </div>
             </div>
         </div>
      </div>
       <div class="card-body">  
        <p>
          <strong>Clave:</strong>
          <%= @catalog_vendor.clave %>
        </p>
        
        <p>
          <strong>Nombre:</strong>
          <%= @catalog_vendor.nombre %>
        </p>
            <%= link_to 'Editar', edit_catalog_vendor_path(@catalog_vendor),class:"btn btn-default"%> 
    </div>
  </div>
</div>