<br>
<div class="container">
  	<div class="card card-custom gutter-b">
  		<div class="card-header">
    		<div class="card-title">
      			<h3 class="card-label">Autorización de ordenes de compra
      				<span class="text-muted pt-2 font-size-sm d-block">Autorización de las ordenes de compra de flotillas.</span>
      			</h3>
    		</div>
		</div>
		<div class="card-body" id="table_container">
            <%= render  "tabla" %>
		</div>
  	</div>
</div>