<br><br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <span class="card-icon">
                    <i class="flaticon2-chart text-primary"></i>
                </span>
                <h3 class="card-label">Tablero de vehículos</h3>
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>