<%= form_with(model: type_sinister, local: true) do |form| %>
  <% if type_sinister.errors.any? %>
  <div class="alert alert-danger">Error al registrar:
    <div id="error_explanation">
      <ul>
        <% type_sinister.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>
  <div class="float-right">
    <%= form.submit "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;" %>
   </div>
   <br><br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Tipo siniestro:</label>
    <div class="col-sm-0">
      <%= form.text_field :nombreSiniestro, class: "form-control", style:"width: 250px !important;" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:15px;">Estatus:</label>
    <div class="col-sm-0">
    <div class="form-group col-lg-6">
      <label class="switch">
      <input type="checkbox" name="type_sinister[status]" <% if @type_sinister.status%> checked<%end%>>
      <span class="slider round"></span>
      </label>
      </div>
  </div>
  </div>

<% end %>
<style>
  .switch input:checked ~ span:after {
    opacity: 1;
    color: #ffffff;
    background-color:#ffffff;
}
.switch input:empty ~ span:before {
    background-color: #ccc;
}
.switch input:checked ~ span:before {
    background-color: #1bc5bd;
}
</style>