<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label float-left">Editar objetivo gasto</h3>
                        <%= link_to 'Regresar' ,expense_vehicle_types_path , class: "btn btn-default float-right" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <%= render 'form', expense_vehicle_type: @expense_vehicle_type %>
        </div>
    </div>
</div>
