<%= form_with(model: vehicle_log, local: true) do |form| %>
  <% if vehicle_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle_log.errors.count, "error") %> prohibited this vehicle_log from being saved:</h2>

      <ul>
        <% vehicle_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
