<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label float-left">Nueva afectación contable</h3>
                        <%= link_to 'Regresar' , accounting_impacts_path, class: "btn btn-default float-right" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <%= render 'form', accounting_impact: @accounting_impact %>
        </div>
    </div>
</div>