<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label float-left">Indicador horas taller</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <%=form_for('', url: filtrado_horas_path, remote: true) do |f|%>
                <div class="row">
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Empresa:</label>
                        <%= collection_select('', :catalog_company_id, CatalogCompany.listado_empresas,:id, :nombre, {prompt:"Escribe el nombre de la empresa"}, {:class => " form-control m-input m-input--air uneditable-input chosen-select"})%>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">CEDIS:</label>
                        <select name="catalog_branch_id" id="catalog_branch_id" class="form-control m-input m-input--air uneditable-input chosen-select">
                            <option value="">Seleccione el cedis</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha inicio: </label>
                        <div class="input-group date" id="datetimepicker7" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" name="start_date" id="start_date">
                            <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-0 col-form-label" style="font-family: Arial; font-size:15px;">Fecha fin: </label>
                        <div class="input-group date" id="datetimepicker8" data-target-input="nearest" data-date-format="DD/MM/YYYY">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" name="end_date" id="end_date">
                            <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                      <br><br>
                      <%= submit_tag "Buscar", class:"btn btn-primary" %>
                    <% end %>
                   </div>
                </div>
            </div><br>
            <div style="width: 100%" id="table_container">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      $(function () {
        $('#datetimepicker7').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'es'
        });
        $('#datetimepicker8').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'es',
        useCurrent: false
        });
        
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
    $(document).ready(function(){
        $("#catalog_company_id").change(function(){
            var empresa = $(this).val();
            $.ajax({
                type: "POST",
                url: "<%= cedis_x_empresa_siniestralidad_path %>",
                data: {empresa: empresa, authenticity_token: $('meta[name=csrf-token]').attr('content')}
            })
        })
    })   
</script>