<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label float-left">Agregar motivo de cancelación </h3>
                        <%= link_to 'Regresar' ,service_orders_path , class: "btn btn-default float-right" %>
                    </div>
                </div>
            </div>
        </div>
        <%= form_for('', url: guardar_motivo_path,method: :post, remote: true,authenticity_token: true) do |f|%>
            <div class="card-body">
                    <div class="float-right">
                        <%= submit_tag "Guardar", class: "btn btn-success", style:"background-color: #2dbe06 !important;",:onclick => "return validateForm();"%>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="font-family: Arial; font-size:16px;">Motivo:</label>
                        <div class="col-sm-0">
                            <%= f.text_area :motivo, class: "form-control", style:"width: 250px !important;" %>
                        </div>
                    </div>    
                </div>
        
        <% end %>
    </div>
</div>