<% bandera_nombre = "" %>
<br>
<div class="container">
    <div class="card card-custom gutter-b">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-header">
                    <div class="card-title example-screen">
                        <h3 class="card-label float-left">Bitácora de mantenimiento</h3>
                        <%= link_to 'Regresar' ,service_orders_path , class: "btn btn-default float-right" %>&nbsp;&nbsp;
                        <div class="float-right">
                            <button onclick="window.print()" class="btn btn-primary font-weight-bolder float-right" style="border-radius: 0.42rem;">Generar PDF</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <% if @service_orders.estatus == "Salió de taller" or @service_orders.estatus == "Servicio Finalizado" %>
                <%= render "binnacle_old" %>
            <% else %>
                <%= render "binnacle_new" %>
            <% end %>
        </div>
    </div>
</div>
<style>
    @media print {
         .example-screen {
             display: none;
          }
      }
</style>

