<br>
<div class="container">
    <div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Detalle</h3>
      </div>
      <div class="float-right">  
        <br>       
        <%= link_to 'Regresar', reporte_responsivas_path, class: "btn btn-default" %>
      </div>
    </div>
      <div class="card-body">
          <br><br>
          <%= render "detalle" %>
      </div>
    </div>
  </div>
