<br>
<center><h1> Verificación de vehículo</h1> </center> 
<%= render :partial => 'checklist_vehicle_component', locals: { vehicle: @vehiculo, view:"recibir" , url_form: register_verification_path(@vehiculo.id, @vehiculo.numero_economico, @vehiculo.vehicle_type_id,1) } %>

